{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verifica tu dirección de correo electrónico" %}{% endblock %}

{% block content %}
<div class="col-md-4 mx-auto">
<h2>{% trans "Verifica tu dirección de correo electrónico" %}</h2>

{% url 'account_email' as email_url %}

<p>{% blocktrans %}Esta parte del sitio requiere que verifiquemos que
eres quien dices ser. Para ello, necesitamos que verifiques la propiedad de tu dirección de correo electrónico.{% endblocktrans %}</p>

<p>{% blocktrans %}Te hemos enviado un correo electrónico para
verificación. Por favor, haz clic en el enlace dentro de ese correo. Si no ves el correo de verificación en tu bandeja de entrada principal, revisa tu carpeta de spam. De lo contrario,
contáctanos si no lo recibes dentro de unos minutos.{% endblocktrans %}</p>

<p>{% blocktrans %}<strong>Nota:</strong> aún puedes <a href="{{ email_url }}">cambiar tu dirección de correo electrónico</a>.{% endblocktrans %}</p>

</div>
{% endblock %}
