{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/tienda.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/barra.css' %}">

    <title>Ventas</title>
</head>
<body>
    {% include "NaveBar.html" %}

    <div class="top-bar">
        <!-- Filtro por categorías -->
        <div class="filter">
            <form method="get" action="#">
                <label for="filter">Categoría:</label>
                <select id="filter" name="categoria" onchange="this.form.submit()" class="filter2">
                    <option value="all">Todas</option>
                    {% for categoria in categorias %}
                        <option value="#" {% if request.GET.categoria == categoria.nombre %}selected{% endif %}>{{ categoria.nombre }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>

        <!-- Barra de búsqueda -->
        <div class="search-bar">
            <form method="get" action="#">
                <input type="text" placeholder="Buscar productos..." name="query" value="{{ request.GET.query }}" class="search">
                <button type="submit" id="search">Buscar</button>
            </form>
        </div>

        <!-- Botón para abrir la ventana emergente -->
        <button id="abrir-popup" class="boton-abrir">Abrir Ventana</button>

    </div>

    <div id="popup" class="popup">
        <div class="popup-contenido">
            <span id="cerrar-popup" class="cerrar">&times;</span>
            <h2>Carrito de Compras</h2>
            <ul id="cart-items">
                <!-- Los productos agregados al carrito aparecerán aquí -->
            </ul>
        </div>
    </div>

    <ul class="ul"> 
        <li class="selecionado">Motherboard</li>
        <li>RAM</li>
        <li>Almacenamiento</li>
        <li>Teclados</li>
        <li>Mouses</li>
        <li>Monitores</li>
        <li>Sillas</li>
        <li>Escritorios</li>
    </ul>
<br>
<img src="{% static 'img/pro.png' %}" width="100%">
</img>

<h1 id="ten">Tendencias</h1>
<div id="continer-ten">
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
</div>
<br>
<br>


<!-- include de tienda para la primer sprint -->
{% include 'lsProducto.html' %}
<script src="{% static 'js/tienda.js' %}"></script>
<!-- fin de include de tienda -->





<!-- Footer -->
<footer>
    <div class="RedesContainer">
        <div class="R">
            <a href="#">
                <div class="layer">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <div class="icon">
                        <!-- Aquí se ubicará el ícono de Facebook -->
                        <i><img src="{% static 'img/f.png' %}" class="iconsInt" alt="Facebook" /></i>
                    </div>
                </div>
            </a>
        </div>
        <div class="R">
            <a href="#">
                <div class="layer">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <div class="icon">
                        <!-- Aquí se ubicará el ícono de Instagram -->
                        <i><img src="{% static 'img/insta.png' %}" class="iconsInt" alt="Instagram" /></i>
                    </div>
                </div>
            </a>
        </div>
        <div class="R">
            <a href="#">
                <div class="layer">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <div class="icon">
                        <!-- Aquí se ubicará el ícono de Twitter -->
                        <img src="{% static 'img/x.png' %}" class="iconsInt" alt="Twitter" />
                    </div>
                </div>
            </a>
        </div>
    </div>
</footer>
<!-- Fin del footer -->
 
</body>
</html>